<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.0.2/css/bootstrap.min.css"/>
</head>
<body>
<th:block th:replace="layout/header_nav::nav-bar('Customer data')"/>
<div class="content">
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="text-end">Balance</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${customers}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.phone}"></td>
                    <td class="text-end" th:text="${item.balance}"></td>
                    <td th:text="${item.address}"></td>
                    <td>
                        <a th:href="@{/customers/update/__${item.id}__}">
                            <button class="btn btn-outline-secondary">
                                Edit
                            </button>
                        </a>
                        <a th:href="@{/customers/delete/__${item.id}__}"
                           th:onclick="return confirm(this.dataset.confirm)"
                           th:data-confirm = "'Are you sure want to delete ' + ${item.fullName}+'?'"
                        >
                            <button class="btn btn-outline-warning text-warning">
                                Delete
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${customers.hasPrevious()}">
                    <a class="page-link"  th:href="@{'/customers/data'(page=${customers.number - 1},size=5)}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" th:text="${customers.number + 1}+'/'+${customers.totalPages}"></li>
                <li class="page-item" th:if="${customers.hasNext()}">
                    <a class="page-link" th:href="@{'/customers/data'(page=${customers.number + 1},size=5)}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<footer class="footer bg-danger text-white">

</footer>
</body>
<th:block th:replace="layout/script::bootstrap"/>
</html>