<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.0.2/css/bootstrap.min.css"/>
</head>
<body>
<th:block th:replace="layout/header_nav::nav-bar('Create new withdraw')"/>
<div class="content">
    <div class="container">
        <form class="" method="post" th:object="${withdrawRequestDTO}">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="customer" class="form-label">Customer</label>
                    <select class="form-control" id="customer" name="customer.id" >
                        <option value="-1">--Select customer--</option>
                        <option th:each="customer:${customers}" th:value="${customer.id}"
                                th:selected="(${withdrawRequestDTO.customer}) and ${withdrawRequestDTO.customer.id==customer.id}"
                                th:text="${customer.fullName} + '(Balance: ' + ${customer.balance}+'$)'"></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="amount" class="form-label">Withdraw amount</label>
                    <input type="text" class="form-control" id="amount" th:field="*{transactionAmount}"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-lg-3">
                    <button type="submit" class="btn btn-outline-primary">Withdraw</button>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="layout/footer::footer('withdraw')"/>
</body>
<th:block th:replace="layout/script::bootstrap"/>
</html>