<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.0.2/css/bootstrap.min.css"/>
</head>
<body>
<th:block th:replace="layout/header_nav::nav-bar('Withdraw')"/>
<div class="content">
    <div class="container">
        <form class="" method="post" th:object="${withdraw}">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="customerName" class="form-label">Full name</label>
                    <input type="Text" readonly class="form-control" id="customerName"
                           th:value="*{customer.fullName}"/>
                </div>
                <div class="col-lg-6">
                    <label for="customerBalance" class="form-label">Balance</label>
                    <input type="text" readonly class="form-control" id="customerBalance"
                           th:value="*{customer.balance}"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="customerEmail" class="form-label">Email</label>
                    <input type="text" readonly class="form-control" id="customerEmail" th:value="*{customer.email}"/>
                </div>
                <div class="col-lg-6">
                    <label for="amount" class="form-label">Withdraw mount</label>
                    <input type="number"  class="form-control" id="amount"
                           th:field="*{transactionAmount}"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-lg-3">
                    <button type="submit" class="btn btn-outline-success">Withdraw</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="layout/footer::footer('withdraw')"/>
</body>
<th:block th:replace="layout/script::bootstrap"/>
</html>