<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.0.2/css/bootstrap.min.css"/>
</head>
<body>
<th:block th:replace="layout/header_nav::nav-bar('Transfer')"/>
<div class="content">
    <div class="container">
        <form class="" method="post" th:object="${transferRequestDTO}">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <label for="senderName" class="form-label">Sender</label>
                    <select type="Text" class="form-select" id="senderName" name="sender.id">
                        <option value="-1">---Select sender---</option>
                        <option th:each="item:${customers}"
                                th:value="${item.id}"
                                th:selected="(${transferRequestDTO.sender}) and ${transferRequestDTO.sender.fullName != null} and ${transferRequestDTO.sender.id==item.id}"
                                th:text="${'(' + item.id + ') ' + item.fullName + ' - Balance: ' + item.balance}"></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="recipientName" class="form-label">Recipient</label>
                    <select type="Text" class="form-select" id="recipientName" name="recipient.id">
                        <option value="-1">---Select recipient---</option>
                        <option th:each="item:${customers}"
                                th:value="${item.id}"
                                th:selected="(${transferRequestDTO.recipient}) and ${transferRequestDTO.recipient.fullName !=null } and ${transferRequestDTO.recipient.id==item.id}"
                                th:text="${'(' + item.id + ') ' + item.fullName }"></option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <label for="transferAmount" class="form-label">Amount</label>
                    <input type="text" class="form-control" id="transferAmount" th:field="*{transferAmount}"
                           th:value="*{transferAmount}"/>
                </div>
                <div class="col-lg-4">
                    <label for="fees" class="form-label">Fees</label>
                    <select class="form-select col-lg-2" id="fees" th:field="*{fees}">
                        <option type="text" class="form-control" th:value="10" th:text="'10(%)'"></option>
                        <option type="text" class="form-control" th:value="15" th:text="'15(%)'"></option>
                        <option type="text" class="form-control" th:value="20" th:text="'20(%)'"></option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label for="transactionAmount" class="form-label">Total</label>
                    <input type="text" class="form-control" id="transactionAmount" readonly
                           th:text="*{transactionAmount}"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-lg-3">
                    <button type="submit" class="btn btn-outline-success">Transfer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="layout/footer::footer('transfer')"/>
<script>
    function calculateTransactionAmount(){
        let transferAmount = +document.getElementById('transferAmount').value;
        let fees = +document.getElementById("fees").value;
        let feesAmount = transferAmount * fees / 100;
        document.getElementById('transactionAmount').value = transferAmount + feesAmount;
    }
    document.getElementById('transferAmount').addEventListener('input', calculateTransactionAmount)
    document.getElementById("fees").addEventListener('input',calculateTransactionAmount)
</script>
</body>
<th:block th:replace="layout/script::bootstrap"/>
</html>